{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": ["last 2 versions", "ie >= 9"]
        },
        "modules": false,
        "loose": true
      }
    ],
    "stage-0",
    "react"
  ],
  "plugins": ["transform-decorators-legacy"]
}
