.rangeButton {
    color: #6699cc;
    line-height: 36px;
}

.pd20 {
    padding: 20px 30px;
}

.tit {
    color: #666666;
    font-size: 16px;
    overflow: hidden;
}

.g-fl {
    float: left;
}

.g-rt {
    float: right
}

.ant-table-thead>tr>th {
    text-align: center
}

.column-money {
    text-align: center;
}

.ant-form-item-label {
    text-align: left;
}

.g-mt {
    margin-top: 20px;
}

.ant-form-item {
    margin-bottom: 0px;
}

.rangeButton {
    color: #6699cc;
    line-height: 36px;
    cursor: pointer;
}

.resetButton {
    margin-left: 8px;
}


/* 以下为覆盖antd样式 */

.suppliercancel .ant-btn {
    width: 42%;
    height: 36px;
    background-color: #6699cc;
}

.suppliercancel .ant-btn.resetButton {
    background-color: #f4f6f8;
}

.suppliercancel .ant-select-lg .ant-select-selection--single {
    height: 36px !important;
}

.suppliercancel .ant-select-lg .ant-select-selection__rendered {
    line-height: 36px;
}

.suppliercancel .ant-input-lg {
    height: 36px;
}

.suppliercancel .ant-form-item-label {
    line-height: 36px;
}