/* 选择跟进企业模态框的样式 */
#department {
    margin-left: 30px;
  }
  .addFollowUp form {
    padding: 5px 18px;
    background-color: #ededed;
    margin-bottom: 5px;
    font-size: 14px;
  }
  .addFollowUp .ant-modal-title {
    font-weight: 600;
  }
  .addRefresh {
    height: 40px;
    padding-left: 25px;
    background-color: #ededed;
    font-weight: 600;
    line-height: 40px;
    cursor: pointer;
    color: #108ee9;
  }
  .add-table table tr {
    height: 35px;
    text-align: center;
  }
  .add-table table {
    border-left: 1px solid #ededed;
    border-right:  1px solid #ededed;
  }
  .add-table .ant-table-thead th{
    border-bottom:  1px solid #ededed;
  }
  .add-table table tr th {
    text-align: center;
  } 
  .ant-table-thead > tr > th, .ant-table-tbody > tr > td {
    padding: 0px;
  }
  .add-table .ant-tag {
    background-color: #ededed;
  }
 