/*默认宽带260px,可自行覆盖*/
.personlist-shower {
    height: 100%;
    position: relative;
}

.personlist-shower .list-wrap{
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 24px;
    width: 100%;
    height: 100%;
}

.personlist-shower .content-wrap{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.personlist-shower .add-wrap{
    color: #6492c1;
    margin: 8px 0;
    text-align: right;
    cursor: pointer;
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
}

.personlist-shower .add-wrap .add{
    margin-right: 4px;
}

.personlist-shower .item{
    margin-top:10px; 
}


.personlist-shower .name-wrap {
    display: inline-block;
    width: 40%;
    text-align: center;
    padding: 6px 6px;
    border: solid 1px #eee;
}

.personlist-shower .phone-wrap {
    display: inline-block;
    border: solid 1px #eee;
    border-width: 1px 1px 1px 0;
    width: 60%;
    cursor: pointer;
    padding: 0 6px;
}

.personlist-shower .phone-wrap .anticon-right {
    float: right;
    line-height: 30px;
    margin-right: 3px;
}

.personlist-shower .phone-el{
	display: inline-block;
	padding: 6px 0;
}

.personlist-shower-submit{
	text-align: center;
}

.personlist-shower-right-label .ant-form-item-label{
	text-align: center;
}


.personlist-shower-modal .ant-modal-body{
    padding-right: 26px;
}

.personlist-shower .hasScroll{
    overflow-y: scroll;
}