
/* 去掉默认的样式 */
.ant-card-wider-padding .ant-card-head {
    padding: 0;
    padding-left: 20px;
}
/* 去掉title的下边框 */
.ant-card-head {
    border: none;
}
/* title的样式 */
.ant-card-head {
    height: 41px;
    line-height: 41px;
    background-color: #ededed;
}
/* 标签的颜色 */
.ant-tag {
    background-color: #fff;
}
/* 内容区的样式 */
.ant-card-wider-padding .ant-card-body,.ant-card-body {
    padding: 20px;
    background-color: #f4f4f4;
}
/* 设置每行文字的间距 */
.marginStyle {
    margin: 5px 0;
}
.region-tool {
    background-color: #fbfbfb;
    height: 60px;
    padding: 12px 15px;
    margin-top: 20px;
    margin-bottom: 15px;
}
.edit-follow {
    width: 20px;
    height: 20px;
}
