
/* 待跟进模块的样式 */
#root{
  height: 100%;
  font-size: 14px;
}

/* 选择框整体的样式 */
.query-wrap{
  padding: 20px;
  background: #fff;
}

/* label字体大小 */
.main label {
  font-size: 14px;
  margin-right: 5px;
}
.content {
  display: flex;
  margin-bottom: 150px;
  margin-top: 20px;
}

/* 记录显示整体样式 */
.card-wrap {
  flex: 1;
  padding: 20px;
  background: #fff;
}
/* 部门筛选的样式 */
.statistics {
  width: 280px;
  margin-right: 18px;
  padding: 20px;
  background-color: #fff;
}
/* #root .statistics .ant-tree li span.ant-tree-switcher.ant-tree-switcher_open:after{
  content: "\E621";
  font-size: 30px;
}
#root .ant-tree li span.ant-tree-switcher.ant-tree-switcher_close:after {
  content: "\E621";
  font-size: 20px;
}
.ant-tree li span.ant-tree-switcher.ant-tree-switcher_close:after {
  transform: none;
}
.ant-tree li .ant-tree-node-content-wrapper {
  background-color: #fff;
} */
/* 分页的样式 */
.pagination-wrap {
  display: flex;
  justify-content: flex-end;
}