
#root{
  height: 100%;
}
.main{
  background: #edf1f5;  
  padding: 0 30px;
  min-height:100%;
}

.page-title{
  color:#666666;
  font-size: 20px;
  line-height: 60px;
}

.query-wrap{
  padding: 20px 30px;
  background: #fff;
}

.ant-modal-body .one-condition, .query-wrap .one-condition{
  display: inline-block;  
  margin-right: 12px;
}
.ant-modal-body .one-condition:last-child,.query-wrap .one-condition:last-child{
  margin-right: 0;
}

.one-condition .ant-checkbox-group{
  display: inline-block;
}

.left-margin-12 {
  margin-left:12px;
}

.select-top-margin{
  margin-top:2px;
}

.tabel-wrap{
  margin-top:20px; 
  background: #fff;
  padding: 0 6px;
}

.evalscore{
  margin-left:40px;
  line-height:120px;
}
.evalscore img{
  vertical-align: sub;
}
.oflowen{ 
  overflow: hidden;
}
.gyspjktit{ margin-top: 10px;}
.gyspjktit ul{ display: inline-block; width: 1080px; 
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  height: 71px;
}
.gyspjktit li{float:left; height: 35px; line-height: 35px; 
  width: 180px; border: 1px solid #ccc; text-align: center;
  border-top:0px; border-bottom:1px solid #ccc; }
.gyspjktit li.ls{border-left:0px; }

.gyspjktit li img{ vertical-align: sub;}

