.tabel-extend-option{
    line-height: 50px;
 }
 .tabel-extend-option span{
    cursor: pointer;
    margin-right: 6px;
 }
 .tabel-extend-option span:hover{
    color: #6699cc;
 }

 .table-options-wrap{
     text-align: center;
 }

 .table-options-wrap .last-link{
    margin-left: 6px;
}