.rangeButton{
    color:#6699cc;
    line-height: 32px;
}
.pd20{padding: 20px 30px;}
.tit{color: #666666; font-size: 16px; overflow: hidden;}
.g-fl{float: left;}
.g-rt{float:right}
.ant-table-thead > tr > th{ text-align: center}
.column-money {
    text-align: center;
  }
.g-mt{margin-top: 20px;}
.tabel-add{ text-align: center;}
.tabel-add span{ color: #fff; margin-right:5px; border-radius: 9px; width: 18px; height: 18px; font-size: 14px; background-color:#6699cc; line-height:16px; display: inline-block;}


















