
#root{
  height: 100%;
}
.main{
  background: #edf1f5;  
  padding: 0 30px;
  min-height:100%;
}

.page-title{
  color:#666666;
  font-size: 20px;
  line-height: 60px;
}

.query-wrap{
  padding: 20px 30px;
  background: #fff;
}

.ant-modal-body .one-condition, .query-wrap .one-condition{
  display: inline-block;  
  margin-right: 12px;
}
.ant-modal-body .one-condition:last-child,.query-wrap .one-condition:last-child{
  margin-right: 0;
}

.one-condition .ant-checkbox-group{
  display: inline-block;
}

.left-margin-12 {
  margin-left:12px;
}

.select-top-margin{
  margin-top:2px;
}

.tabel-wrap{
  margin-top:20px; 
  background: #fff;

}

.evalscore{
  margin-left:40px;
  line-height:120px;
}
.evalscore img{
  vertical-align: sub;
}
.oflowen{ 
  overflow: hidden;
}

.pl20{ padding-left:20px;}
.pt10{ padding-top:10px;}
.pt20{ padding-top:20px;}
.g-fl{float: left;}

.audit-tit{ background-color: #fff; height:50px; line-height:50px; font-size: 16px; border-bottom:1px solid #ccc; padding-left:20px;}

.audit-ress{background-color: #fff; height:120px; font-size: 16px; padding-left:20px;}