
/* 去掉默认的样式 */
.ant-card-wider-padding .ant-card-head {
    padding: 0;
    padding-left: 20px;
}
/* 去掉title的下边框 */
.ant-card-head {
    border: none;
}
/* title的样式 */
.ant-card-head {
    height: 41px;
    line-height: 41px;
    background-color: #ededed;
}
/* 标签的颜色 */
.ant-tag {
    background-color: #fff;
}
/* 标签的样式 */
.card-date{
    color:#999;
    margin-left: 8px;
}
/* 内容区的样式 */
.ant-card-wider-padding .ant-card-body,.ant-card-body {
    padding: 20px;
    background-color: #f4f4f4;
}
.myFollowUp .ant-card {
    margin-bottom: 15px;
}
/* 设置每行文字的间距 */
.marginStyle {
    margin: 5px 0;
}
.region-tool {
    background-color: #fff;
    height: 60px;
    padding: 12px 15px;
    margin-top: 20px;
    margin-bottom: 15px;
}
/* 添加批注和删除批注 */
.delete-follow {
    display: block;
}
.add-follow {
    display: none;
}
.pizhu .delete-follow {
    display: none;
}
.pizhu .add-follow {
    display: block;
}
/* 添加批注 */
.add-follow .region-tool {
    padding: 0;
}
.add-follow .card-option {
    position: relative;
    right: -30px;
    bottom: -58px;;
}
.add-follow  input {
    padding: 10px 15px;
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
}
.myFollowUp .label{
    color: #333333;
    font-weight: bold;
}

.myFollowUp .value{
    margin-left:4px; 
}

/* 删除批注的样式 */
.delete-follow .card-option{
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-option .remove-btn{
    color: #6699cc;
    cursor: pointer;
}
